<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain, Body and Behaviour Dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script src="{{ url_for('static', filename='download_script.js') }}" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header style="
    color: #f8f0f0;
    background-color: black;
    border-color: rgb(136, 136, 136);
    border-bottom: 1px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;">
        <h1>The Brain, Body, and Behaviour Dataset - Neural Engineering Lab, CCNY</h1>
    </header>

    <header style="color: #f8f0f0; background-color: #1e2760; border-color: rgb(136, 136, 136); border-top: 2px solid rgb(136, 136, 136); border-bottom: 2px solid rgb(136, 136, 136); padding-top: 2px; width: 100vw;">
        <nav>
            <ul style="list-style: none; display: flex; padding: 0; margin: 0;">
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('experiments_page') }}" class="nav-link">Experiments</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('questionnaires_page') }}" class="nav-link">Questionnaires</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('tutorials_page') }}" class="nav-link">Tutorials</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('research_page') }}" class="nav-link">Research</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('about_page') }}" class="nav-link">About</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('download_page') }}" class="nav-link">Download</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('changelog_page') }}" class="nav-link">Changelog</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="superexp-heading">
            <h2>Changelog: The Brain, Body, and Behaviour Dataset</h2>
        </section>

        <section id="exp-content" style="margin-left: 1vw;">
            <h1>2025</h1>
            <ul>
                    <!-- Add new versions in this space -->

                    <li><strong>v1.0.0</strong>
                        <p>Release Date: 01/27/25</p>
                        <ul>
                            <li>Initial release of the dataset.</li>
                            <li>Included signals from all subjects across five experiments.</li>
                            <li>Standardized file formats (BIDS-compliant).</li>
                            <li>Individual modalities released in .mat file formats.</li>
                        </ul>
                    </li>

                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p style="text-align: center;">
            All files available for download on this website are licensed under the Creative Commons Attribution 4.0 International 
            License (CC BY 4.0). <img style="height:18px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:18px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
            <br>For details, visit <a href="https://creativecommons.org/licenses/by/4.0/" class="portfolio-link">
                https://creativecommons.org/licenses/by/4.0/
            </a>.
        </p>
    </footer>
</body>
</html>
